BODY{
	margin:0;
	background:rgb(118, 155, 255)
}

.shapka {
	display:flex;
	width:100%;
	height:100px;
	background:url(header.jpg);
	text-align: center;
	}
.logo_name{
	display: flex;
	margin:auto;
	max-width:960px;
}
.logo_name h1{
	margin: auto;
}
@media screen and (min-width: 800px) {
	.nav{
		width:90%;
		flex-direction: row;
	}
	.spisok_table_form_back{
		width:90%;
	}
	.square{
		height: 100%;
		width: 100%;
	}
}
@media (orientation: portrait) {
	.nav{
		width:100%;
		flex-direction:column;
	}
	.spisok_table_form_back{
		width:100%;
	}
}
.nav{
	display:flex;
	margin:0 auto;
	background:rgb(143, 113, 212);
	padding:5px 0 5px 0;
}
.nav a{
	color:rgb(255, 255, 255);
	margin:auto;
}

.spisok_table_form_back{
	display:flex;
	flex-direction:column;
	margin:0px auto 0px auto;
	width:90%;
	background:rgb(169, 150, 255);
}
.table{
	order: 2;
}
.square{
	height: 86%;
	width: 86%;
}

.form{
	order: 1;
	text-align: center;
}

.nch_table{
	color:rgb(255, 255, 255);
	background:rgb(37, 0, 48)
}
.ch_table{
	color:rgb(37, 0, 48)
}

.footer{
	display:flex;
	width:100%;
	height:70px;
	background-color: rgb(143, 113, 212);
}

.footer p{
	margin:auto;
	text-align: center;
	max-width:150px
}

.shapka img {
	margin:auto;
	float:left;
	width:100px;
	height:100px;
}
#top{margin:0}